.text-message{
  padding: 17px;
  //background-color:  #FEC321;
  margin: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  /* tab-size: 5px; */
  font-size: 18px;
}
.text-message2{
  padding: 17px;
  background-color:  #FEC321;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: white;
  /* tab-size: 5px; */
  font-size: 18px;
}
