<ion-content>
  <ion-item style="padding-top: 15px; --background: var(--ion-color-primary); background-color:#10155F; ">
    <ion-title style="--color:white;">A propos de La Poste Tunisienne  </ion-title>
  </ion-item>
  <div class="text-message">
    <ion-text>
      MyPoste est un service financier 100% digitale de la Poste Tunisienne, destiné aux clients titulaires des comptes postaux, épargne et Sicav.
      Il permet de bénéficier d'une panoplie de services financiers à distance.
    </ion-text>
  </div>
  <div class="text-message2">
    <ion-text>
      www.my.poste.tn |  my.contact@poste.tn |  1828
    </ion-text>
  </div>
  <div>
    <img src="assets/images/logo_nr.png" style="height: 120px; margin-left: 30px">
  </div>
  <ion-button style="float: right; float: bottom; margin-right: 15px; margin-top: 100px;" href="menu/consulterComptes">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-content>
