<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1>Ouvrir un compte</h1>
      </div>
      <ion-list>
        <div class="items-list">
          <input type="radio" name="Compte" />
          <p class="content-list">
            <ion-title>Compte Epargne</ion-title>
            Epargnez chez la Poste et bénéficiez d’un taux attractive avec la garantie de l’état.
          </p>
        </div>
        <div class="items-list">
          <input type="radio" name="Compte" />
          <p class="content-list">
            <ion-title>Compte Courant</ion-title>
            Bénéficiez des avantages du compte courant postal pour réaliser vos transactions          </p>
        </div>
        <div class="items-list">
          <input type="radio" name="Compte" />
          <p class="content-list">
            <ion-title>Compte Professtionnel</ion-title>
            Choisissez le placement de la Poste offrant l’un des meilleurs rendements du marché.          </p>
        </div>

        <ion-button type="submit" class="cp-btn" href="/register">
          Suivant
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
