<ion-content class="cpro-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1>Continuer par remplir ces champs</h1>
      </div>
      <form [formGroup]="ouvCptclientProForm" (ngSubmit)="RegisterClientPro()"  >
        <ion-item>
          <ion-label position="floating">Nom :</ion-label>
          <ion-input placeholder="Ecrire votre nom" formControlName="firstname" [(ngModel)]="clientPro.nom"></ion-input>
          <small *ngIf="ouvCptclientProForm.controls['firstname'].errors && ouvCptclientProForm.controls['firstname'].touched" class="ion-color-danger">
            le nom est obligatoire
          </small>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Prénom :</ion-label>
          <ion-input placeholder="Ecrire votre prénom" formControlName="lastname" [(ngModel)]="clientPro.prenom"></ion-input>
          <small *ngIf="ouvCptclientProForm.controls['lastname'].errors && ouvCptclientProForm.controls['lastname'].touched" class="ion-color-danger">
            le prénom est obligatoire
          </small>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email :</ion-label>
          <ion-input placeholder="Ecrire votre e-mail" formControlName="email" [(ngModel)]="clientPro.email"></ion-input>
          <small *ngIf="ouvCptclientProForm.controls['email'].errors && ouvCptclientProForm.controls['email'].touched" class="ion-color-danger">
            l'email est obligatoire
          </small>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Numéro de téléphone :</ion-label>
          <ion-input type="number" placeholder="Ecrire votre numéro" formControlName="phone" [(ngModel)]="clientPro.phone" ></ion-input>
          <small *ngIf="ouvCptclientProForm.controls['phone'].errors && ouvCptclientProForm.controls['phone'].touched" class="ion-color-danger">
            le numéro est obligatoire
          </small>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mot de passe :</ion-label>
          <ion-input type="password" placeholder="Ecrire votre mot de passe" formControlName="mot_de_passe" [(ngModel)]="clientPro.mot_de_passe"></ion-input>

          <small *ngIf="ouvCptclientProForm.controls['mot_de_passe'].errors && ouvCptclientProForm.controls['mot_de_passe'].touched" class="ion-color-danger">
            le mot de passe est obligatoire
          </small>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Adresse</ion-label>
            <ion-input type="text" placeholder="Ecrire votre adresse" formControlName="adresse" [(ngModel)]="clientPro.adresse" ></ion-input>
            <small *ngIf="ouvCptclientProForm.controls['adresse'].errors && ouvCptclientProForm.controls['adresse'].touched" class="ion-color-danger">
              le numéro est obligatoire
            </small>
          </ion-item>

<!--        [disabled]="!this.ouvCptclientProForm.valid"-->
<!--        href ='/documents-perso'-->
        <ion-button type="submit" class="cpr-btn" href ='/choisir-votre-compte' >Continuer</ion-button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>

