<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1>Identité du Client</h1>
      </div>
        <form [formGroup]="clientParForm">


          <ion-item>
            <ion-label position="floating">Nom : </ion-label>
            <ion-input placeholder="Ecrire votre nom" formControlName="lastname" ></ion-input>
            <small *ngIf="clientParForm.controls['firstname'].errors && clientParForm.controls['firstname'].touched" class="ion-color-danger">
              le prénom est obligatoire
            </small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Prénom :</ion-label>
            <ion-input placeholder="Ecrire votre prénom" formControlName="lastname" ></ion-input>
            <small *ngIf="clientParForm.controls['lastname'].errors && clientParForm.controls['lastname'].touched" class="ion-color-danger">
              le prénom est obligatoire
            </small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email :</ion-label>
            <ion-input placeholder="Ecrire votre e-mail" formControlName="email" ></ion-input>
            <small *ngIf="clientParForm.controls['email'].errors && clientParForm.controls['email'].touched" class="ion-color-danger">
              l'email est obligatoire
            </small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Numéro de téléphone :</ion-label>
            <ion-input type="number" placeholder="Ecrire votre numéro" formControlName="phone" ></ion-input>
            <small *ngIf="clientParForm.controls['phone'].errors && clientParForm.controls['phone'].touched" class="ion-color-danger">
              le numéro est obligatoire
            </small>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> CIN:</ion-label>
            <ion-input placeholder="Ecrire votre numéro carte" formControlName="cin" ></ion-input>
            <small *ngIf="clientParForm.controls['cin'].errors && clientParForm.controls['cin'].touched" class="ion-color-danger" >
              le CIN est obligatoire
            </small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Date de Naissance :</ion-label>
            <ion-input type="date" placeholder="Ecrire votre Date de Naissance" formControlName="date_de_naissance" ></ion-input>
            <small *ngIf="clientParForm.controls['date_de_naissance'].errors && clientParForm.controls['date_de_naissance'].touched" class="ion-color-danger">
              la date de naissance est obligatoire
            </small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Lieu de Naissance : </ion-label>
            <ion-input type="date" placeholder="Ecrire votre Date de Naissance" formControlName="date_de_naissance" ></ion-input>
            <small *ngIf="clientParForm.controls['lieu_de_naissance'].errors && clientParForm.controls['lieu_de_naissance'].touched" class="ion-color-danger">
              Le lieu de naissance est obligatoire
            </small>
          </ion-item>
      </form>
      <ion-button type="submit" class="cp-btn" href="/informations-perso">
        Suivant
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

