<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1>Informations Personnelles</h1>
      </div>
      <form [formGroup]="clientForm">
        <ion-item>
          <ion-label position="floating">Nom :</ion-label>
          <ion-input placeholder="Ecrire votre nom" formControlName="firstname" [(ngModel)]="clientPar.nom"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label position="floating">Prénom :</ion-label>
          <ion-input placeholder="Ecrire votre prénom" formControlName="lastname" [(ngModel)]="clientPar.prenom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email :</ion-label>
          <ion-input placeholder="Ecrire votre e-mail" formControlName="email" [(ngModel)]="clientPar.email"></ion-input>

        </ion-item>

          <ion-item>
            <ion-label position="floating"> CIN</ion-label>
            <ion-input placeholder="Ecrire votre CIN" formControlName="cin" [(ngModel)]="clientPar.CIN"></ion-input>
            <small *ngIf="clientForm.controls['cin'].errors && clientForm.controls['cin'].touched"
                   class="ion-color-danger">
              le CIN est obligatoire
            </small>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Numéro de téléphone :</ion-label>
          <ion-input type="number" placeholder="Ecrire votre numéro" formControlName="phone"
                     [(ngModel)]="clientPar.phone">
          </ion-input>

        </ion-item>
          <ion-item>
            <ion-label position="floating">Date de Naissance :</ion-label>
            <ion-input type="date" placeholder="Ecrire votre Date de Naissance" formControlName="date_de_naissance"
                       [(ngModel)]="clientPar.date_de_naissance"></ion-input>
            <small
              *ngIf="clientForm.controls['date_de_naissance'].errors && clientForm.controls['date_de_naissance'].touched"
              class="ion-color-danger">
              la date de naissance est obligatoire
            </small>
          </ion-item>

        <ion-item>
          <ion-label position="floating">Adresse:</ion-label>
          <ion-input placeholder="Ecrire votre prénom" formControlName="adresse"></ion-input>
          <small *ngIf="clientForm.controls['adresse'].errors && clientForm.controls['adresse'].touched"
                 class="ion-color-danger">
            l'adresse est obligatoire
          </small>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Statut :</ion-label>
          <ion-select label-placement="floating" formControlName="status">
            <ion-select-option value="apple">Divorsé(e)</ion-select-option>
            <ion-select-option value="banana">Célibataire</ion-select-option>
            <ion-select-option value="orange">Marié(e)</ion-select-option>
          </ion-select>
          <small *ngIf="clientForm.controls['status'].errors && clientForm.controls['status'].touched"
                 class="ion-color-danger">
            le nom est obligatoire
          </small>
        </ion-item>
      </form>
      <ion-button type="submit" class="cp-btn" href="menu/consulterComptes">
        Enregistrer les modifications
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

