ion-app{
  z-index: 100000;
}

ion-menu::part(backdrop) {
  background-color: rgba(	254,	195	,33, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(224,172,29, 0.18);
}
ion-toolbar {
  --background: var(--ion-color-primary);
}
.menu-title{
  color: white;
}
.submenu-title {
  color:#bec0c7;
  margin-left:0;
  margin-right: 0;
  font-size: 15px;
  margin-bottom: 15px;

}
.info-title{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  margin-left: -2px;
}

//ion-list {
//  //padding: 10px;
//  padding-left: 0px;
//}
//.ion-content {
//  padding :10px;
//  padding-left: 0px;
//}
ion-accordion.accordion-expanded ion-item[slot="header"],
ion-accordion.accordion-expanding ion-item[slot="header"]  {
  --background: var(--ion-color-colapp);
  --color:#fff;

}

/*.accordion-icon {
  --color: #000;
}*/
ion-accordion.accordion-expanded .icon-accor ,
ion-accordion.accordion-expanding .icon-accor {
--color: #fff;
}


