<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card style="">
    <ion-card-content>
      <div class="register-title">
        <h1>Informations Personnelles</h1>
      </div>
      <form [formGroup]="clientForm">
        <ion-item>
          <ion-label position="floating">Adresse: </ion-label>
          <ion-input placeholder="Ecrire votre prénom" formControlName="adresse" ></ion-input>
          <small *ngIf="clientForm.controls['adresse'].errors && clientForm.controls['adresse'].touched" class="ion-color-danger">
            l'adresse est obligatoire
          </small>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Statut : </ion-label>
          <ion-select label-placement="floating" formControlName="status">
            <ion-select-option value="apple">Divorsé(e)</ion-select-option>
            <ion-select-option value="banana">Célibataire</ion-select-option>
            <ion-select-option value="orange">Marié(e)</ion-select-option>
          </ion-select>
          <small *ngIf="clientForm.controls['status'].errors && clientForm.controls['status'].touched" class="ion-color-danger">
            le nom est obligatoire
          </small>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Profession</ion-label>
          <ion-input placeholder="Ecrire votre prénom" formControlName="profession" ></ion-input>
          <small *ngIf="clientForm.controls['profession'].errors && clientForm.controls['profession'].touched" class="ion-color-danger">
            le nom est obligatoire
          </small>
        </ion-item>
      </form>
      <form [formGroup]="clientProForm">
      <ion-text>Si vous êtes un client professtionnel veuillez continue le reste des champs </ion-text>
      <ion-item>
        <ion-label position="floating" >Matricule Fiscale:</ion-label>
        <ion-input placeholder="Ecrire votre prénom" formControlName="matricule_fiscale" ></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Raison social :</ion-label>
        <ion-input placeholder="Ecrire votre prénom" formControlName="raison_social" ></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Numéro registre e-commerce: </ion-label>
        <ion-input placeholder="Ecrire votre prénom" formControlName="numero_registre" ></ion-input>

      </ion-item>
      </form>
      <ion-button type="submit" class="cp-btn" href="/documents-perso">
        Suivant
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
