<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1>Documents Personnels</h1>
      </div>
      <form style="margin-top: 15px;" >
        <ion-label style="margin-top: 20px; margin-left: 20px"> Entrer Votre Image de Carte Recto</ion-label>
      <ion-item>
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-input type="file"  id="file-input1" accept="image/png, image/jpeg"
                   (change)="onFileChange($event)"></ion-input>
      </ion-item>
        <ion-label style="margin-top: 20px; margin-left: 20px"> Entrer Votre Image de Carte Verso</ion-label>
        <ion-item>
          <ion-icon lazy="true" slot="start" name="image"></ion-icon>
          <ion-input type="file"  id="file-input2" accept="image/png, image/jpeg"
                    (change)="onFileChange($event)" ></ion-input>
        </ion-item>
        <ion-label style="margin-top: 20px; margin-left: 20px"> Entrer Votre Justification de revenu</ion-label>
        <ion-item>
          <ion-icon lazy="true" slot="start" name="image"></ion-icon>
          <ion-input type="file"  id="file-input3" accept="image/png, image/jpeg"
                      (change)="onFileChange($event)" ></ion-input>
        </ion-item>
        <ion-label style="margin-top: 20px; margin-left: 20px"> Entrer Votre Justificatif Compte Postal</ion-label>
        <ion-item>
          <ion-icon lazy="true" slot="start" name="image"></ion-icon>
          <ion-input type="file"  id="file-input4" accept="image/png, image/jpeg"
                       (change)="onFileChange($event)" ></ion-input>
        </ion-item>
        <ion-label style="margin-top: 20px; margin-left: 20px"> Entrer Votre Justification d'adresse</ion-label>
        <ion-item>
          <ion-icon lazy="true" slot="start" name="image"></ion-icon>
          <ion-input type="file"  id="file-input5" accept="image/png, image/jpeg"
                   (change)="onFileChange($event)" ></ion-input>
        </ion-item>
      </form>
      <ion-item style="margin-top: 10px;">Pour que nous puissions vérifier votre identité, veuillez prendre un selfie en tenant dans votre main votre carte d'identité comme indiqué dans la photo. Votre image sera utilisée exlusivement par la Poste Tunisienne pour la sécurisation de l'opération d'inscription aux services de MyPosteBank.</ion-item>
      <ion-button style="--background: var(--ion-color-primary); color: white;
   margin-top: 10px; border-radius: 8px;" (click)="captureImage()" >Prendre un selfie avec CIN</ion-button>

      <ion-button type="submit" class="cp-btn" id="open-modal" (click)="saveFile()"  >
        Terminer
      </ion-button>
      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-card>
              <ion-card-content>
                <svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                  <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <path class="circle" d="M13 1C6.372583 1 1 6.372583 1 13s5.372583 12 12 12 12-5.372583 12-12S19.627417 1 13 1z"/>
                    <path class="tick" d="M6.5 13.5L10 17 l8.808621-8.308621"/>
                  </g>
                </svg>
                Votre demande a bien été envoyée en succées vous vous recevez un appel téléphonique de chez La poste
                ultérieurement.
              </ion-card-content>
              <ion-button href="menu/consulterComptes" style="align-items: center;">Acceuil</ion-button>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>

