<div class="starting-image">
  <img class="logo-laposte" src="./assets/images/logo-laposte.png">
</div>
<ion-content>
   <div class="starting-image">
     <img src="assets/images/exemple-transactions.png">
   </div>
   <div class="starting-title">
     <h4>Suivez toutes vos transactions facilement</h4>
   </div>
  <div class="button-content">
  <ion-button class="register-btn" href="/type-de-compte">
    S'inscrire
  </ion-button>
  <ion-button fill="outline" href="/authenticate">S'authentifier</ion-button>
  </div>
</ion-content>


