<ion-content>
  <ion-item style="padding-top: 15px; --background: var(--ion-color-primary); background-color:#10155F; ">
    <ion-title style="--color:white;">Notifications </ion-title>
  </ion-item>
  <div class="text-message">
    <ion-text>
      Vous n'avez pas aucune notfication pour le moment!
    </ion-text>
  </div>
  <ion-button style="float: right; float: bottom;margin-top: 430px; margin-right: 15px;" href="menu/consulterComptes">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-content>
