<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1 style="text-align: center;">Changer votre Mot de passe</h1>
      </div>
      <form>
        <ion-item>
          <ion-label position="floating">Mot de passe actuel:</ion-label>
          <ion-input placeholder="Ecrire votre mot de passe actuel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nouveau mot de passe: </ion-label>
          <ion-input placeholder="Ecrire votre nouveau mot de passe"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 10px;">
          <ion-label position="floating">Confirmer Votre mot de passe : </ion-label>
          <ion-input placeholder="Ecrire votre mot de passe"></ion-input>
        </ion-item>
      </form>
      <ion-text style="padding:12px;">-Au moins 8 caractères alphanumériques</ion-text> <br>
      <ion-text style="padding:12px;">-Au moins une lettre majuscule</ion-text> <br>
      <ion-text style="padding:12px;">-Au moins une lettre minuscule</ion-text><br>
      <ion-text style="padding:12px;">-Au moins un chiffre</ion-text>
      <ion-button type="submit" class="cp-btn" href="menu/consulterComptes">
        Enregistrer le changement
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
