<ion-content class="register-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
 <ion-card>
   <ion-card-content class="card-content">
     <div class="register-title">
       <h1>S'inscrire</h1>
     </div>
     <form>
       <div>
         <img src="assets/images/bag.png" class="starting-image">
       </div>
     <ion-button   class="register-btn" href="/client-professionnel" id="client-professionnel">
       Client Professionnel
     </ion-button>
     <p class="choose"> Ou </p>
       <div>
         <img src="assets/images/1077114.png" class="starting-image">
       </div>
     <ion-button class="register-btn" href="/client-particulier" id="client-particulier" >
       Client Particulier
     </ion-button>
     </form>
   </ion-card-content>
 </ion-card>
</ion-content>
